@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="jumbotron">
        <h1>Vidly rental webstore</h1>
        <p class="lead">This is Vidly and we offer you an extensive database of movies.</p>
    </div>
</div>